:root {
  --primary-image-border-color: rgb(59, 176, 160);
  --primary-card-color: rgba(18, 75, 67, 0.3);
}

* {
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #9fa1ad;
  outline: none;
  text-decoration: none;
}

a,
h1,
h2,
h3,
h4,
h5 {
  outline: none;
  text-decoration: none;
  color: #fff;
}

a:link:hover {
  outline: none;
  text-decoration: none;
}

body {
  background-color: #1e2326;
}

#navbar-menu .link-page {
  color: #bbb2b2;
  font-size: 13px;
  transition: color 0.4s;
}

#navbar-menu .link-page:hover {
  color: #fff;
}

.content-pages {
  width: 100%;
}

.content-pages section {
  /* height: 87vh; */
  background-color: #1e2326;
}

.content-pages .bg-home {
  height: 87vh;
  background-image: url("/img/background_2.webp");
  background-size: cover;
  opacity: 0.2;
  filter: blur(2px);
  z-index: -1;
}

.content-pages section:nth-child(n + 2):nth-child(-n + 6) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.primary-infos {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.primary-infos .photo {
  display: flex;
  position: absolute;
  top: 120px;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.primary-infos .photo img {
  width: 100%;
  border: 9px solid var(--primary-image-border-color);
}

.primary-infos .container-card {
  display: flex;
  width: 100%;
  max-width: 265px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  padding-top: 110px;
  border-radius: 20px;
  background-color: #2d3134;
  position: absolute;
  top: 220px;
  padding-bottom: 40px;
}

.primary-infos .container-card .fullname {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

.primary-infos .container-card .subtitle {
  font-size: 14px;
}

.primary-infos .container-card .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-infos .container-card .social ul {
  list-style: none;
  display: flex;
}

.primary-infos .container-card .social ul li {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 60%;
  height: 40px;
  border: 1px solid #fff;
}

.content-pages .content-about h3 {
  color: #fff;
}

.content-pages .content-about p {
  padding: 5px 20px;
  text-align: justify;
  line-height: 26px;
}

.content-about .group-columns {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 25px;
}

.content-about .group-columns h4 {
  color: #fff;
}

.content-about .group-columns .colum {
  width: 100%;
  padding: 20px 0;
  justify-content: center;
}

table tr {
  line-height: 30px;
  color: #1dad98;
}

table tr td {
  padding-left: 20px;
}

.my-interest {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-gap: 20px;
}

.frame-interest {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--primary-card-color);
  transition: filter 0.2s;
}

.frame-interest:hover {
  filter: contrast(100);
}

.frame-interest svg {
  font-size: 30px;
}

.frame-interest span {
  color: #fff;
  font-size: 13px;
}

.content-pages .content-github {
  background-color: #3e4854;
  justify-content: space-around !important;
}

.content-github .section {
  width: 80%;
}

.content-github .card-title {
  color: #231b4f;
}

.content-github .header-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content-github .card-subtitle {
  font-size: 14px;
}

.content-github .card-text {
  display: flex;
  justify-content: left;
  align-items: center;
}

.content-github .text-infos {
  width: 100%;
}

.content-github .box-follower {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.content-github .box-follower .card-text,
.counter {
  color: #231b4f;
  font-size: 14px;
}

.section-repo h5 {
  display: none;
}

.container-repos {
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.container-repos::-webkit-scrollbar {
  display: none;
}

.container-repos .card-body {
  padding: 14px 30px;
  transition: transform 0.3s;
}

.card-body:link {
  outline: none;
  text-decoration: none;
}

.container-repos .card-body:hover {
  transform: scale(1.02);
}

.counter {
  font-weight: bold;
  margin-right: 3px;
}

.text-infos .icon {
  margin-right: 3px;
}

.content-github .box-follower .icon {
  margin: 0 3px;
}

.content-github .separator {
  margin: 0 3px;
}

.content-github .row-repo .title {
  width: 100%;
}

.content-github .row-repo .card-title {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.content-github .row-repo .card-subtitle.description {
  font-size: 12px;
}

.content-github .row-repo .languages svg {
  margin-top: 10px;
  filter: invert(70%);
}

.content-pages .content-resume {
  background-color: yellowgreen;
}
.content-pages .content-portfolio {
  background-color: yellowgreen;
}

@media only screen and (min-width: 768px) {
  .navbar-nav {
    padding: 0;
  }
}
