* {
  box-sizing: unset;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #9fa1ad;
}

body {
  background-color: #1e2326;
}

.navbar-nav {
  padding: 15px;
}

#navbar-menu .link-page {
  color: #bbb2b2;
}

#navbar-menu .link-page {
  font-size: 13px;
  font-weight: 700;
}

.navbar-controll {
  justify-content: flex-end;
  margin-right: 20px;
}

.content-pages {
  width: 100%;
}

.content-pages section {
  height: 90vh;
}

.content-pages section:nth-child(1n) {
  height: 100vh;
}

.content-pages .content-home {
  background-color: tomato;
}

.content-pages .content-about {
  background-color: teal;
}

.content-pages .content-skills {
  background-color: violet;
}

.content-pages .content-resume {
  background-color: yellowgreen;
}
.content-pages .content-portfolio {
  background-color: yellowgreen;
}

@media only screen and (min-width: 768px) {
  .navbar-nav {
    padding: 0;
  }
}
